.showcase-gallery {
  .slick-slide {
    margin: 0 5px;
  }
  .card {
    border: none;
    box-shadow: 0 5px 15px rgba(22, 22, 35, 0.1) 0px 5px 15px 0px;
    // border-radius: 6px;
  }
  .card-body {
    position: relative;
    & img {
      border-radius: 4px;
    }
  }
  @include btn_style(1, false);
  //   .card-body:after {
  //     content: "\A";
  //     position: absolute;
  //     width: 100%;
  //     height: 100%;
  //     top: 0;
  //     left: 0;
  //     bottom: 0;
  //     // background:rgba(0,0,0,0.6);
  //     background-image: linear-gradient(
  //       to top,
  //       rgba(20, 20, 20, 0.99),
  //       rgba(20, 20, 20, 0)
  //     );
  //     opacity: 1;
  //     transition: background 0.5s;
  //     -webkit-transition: background 0.5s;
  //   }
  //   .card-body .btn {
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //     background: transparent;
  //     border-radius: 50%;
  //     width: 56px;
  //     height: 56px;
  //     overflow-x: hidden;
  //     overflow-y: hidden;
  //     //   box-shadow: 10px -6px 0 red;
  //     box-shadow: inset 0 2px 0 3px var(--font-color);
  //     border: none;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     opacity: 0;
  //     transition: opacity 0.2s ease;
  //     // z-index: 3;
  //     & svg {
  //       fill: var(--font-color);
  //     }
  //   }

  .card-body:hover {
    & .btn {
      opacity: 1;
    }
  }
  .card-body:hover:after {
    background: none;
  }

  .slick-next:before {
    font-size: 2rem;
    color: var(--font-color);
  }
  .slick-prev:before {
    font-size: 2rem;
    color: var(--font-color);
  }
}
.movie-grid {
  & .col-md-3 {
    width: 100%;
    height: 22rem;
  }

  & .card {
    border: none;
    height: 100%;
    width: 100%;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

    & h4 {
      //   text-align: center;
      //   font-size: 42px;
      //   white-space: nowrap;
      //   text-shadow: 0 0 2px #00
    }
    &:hover {
      -webkit-transform: translateZ(0) scale3d(1.05, 1.05, 1) perspective(1px);
      //   -webkit-backface-visibility: hidden;
      //   -webkit-font-smoothing: subpixel-antialiased !important;

      //   transform: translateZ(0);
    }
    // height: 5rem;
  }
  & .card-body {
    padding: 0;
    position: relative;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 6px;
    }
  }

  @include btn_style(0, true);

  .card-body:hover,
  .card-body:focus {
    // &:after {
    //   opacity: 1;
    // }
    & .btn {
      opacity: 1;
    }
    &::before,
    &::after {
      transform: scale3d(1, 1, 1);
    }
  }

  & .card-footer {
    // padding:0;
    // background:var(--primary-color);
  }
}
