@function hexToRgb($hex) {
  @return red($hex), green($hex), blue($hex);
}

:root {
  --primary-color: #141414;
  //  --primary-color:rgba(0,0,0,.8);
  --primary-color-rgb: #{hexToRgb(#141414)};
  --footer-color: #191919;
  --font-color: #f8b815;
  --icon-color: #b5b9bc;
  --nav-initial-color: rgba(0, 0, 0, 0.5);
  --box-shadow-movie-card: #{hexToRgb(#f8b815)};

  .navbar .custom-switch .custom-control-label::after {
    background-color: transparent;
    margin-left: 0.6rem;
    box-shadow: -7px 0px 0 0 #e6e1e1;
    height: calc(1rem + 2px);
    width: calc(1rem + 2px);
    color: green;
    margin-top: 1px;
  }
  .navbar .custom-control-label::before {
    background: transparent;
    border: 1px solid #fff;
    width: 3.6rem;
    height: 1.5rem;
    border-radius: 2rem;
  }
}
[dark-theme="light"] {
  --primary-color: #fff;
  // --primary-color:rgba(255,255,255,.8);
  --primary-color-rgb: #{hexToRgb(#fff)};
  --footer-color: #f4f4f4;
  --font-color: #000;
  --icon-color: #b5b9bc;
  --nav-initial-color: rgba(255, 255, 255, 0.5);
  --box-shadow-movie-card: #{hexToRgb(#000)};
  .navbar .custom-switch .custom-control-label::after {
    background-color: #f8b815;
    box-shadow: none;
    height: calc(1rem + 2px);
    width: calc(1rem + 2px);
    border-radius: 100%;
    transform: translateX(1.78rem);
    margin-top: 1px;
    margin-left: 5px;
  }
  .navbar .custom-control-label::before {
    background: transparent;
    border: 1px solid #f8b815;
    width: 3.6rem;
    height: 1.5rem;
    border-radius: 2rem;
  }
}

body {
  background-color: var(--primary-color);
  // transition: all .5s ease;
  color: var(--font-color);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.1rem;
  box-sizing: border-box;
  overflow-x: hidden;
}
a {
  text-decoration: none !important;
  color: var(--font-color);
  &:hover,
  &:active {
    color: var(--font-color);
  }
}
// Footer
.footer__section {
  width: 100%;
  padding: 2rem;
  margin-top: 7rem;
  background-color: var(--footer-color);
}
.sl--content-container {
  background-color: var(--primary-color);
}
.swiper-slide-prev .slide-cover,
.swiper-slide-next .slide-cover,
.slide-cover {
  background-color: var(--primary-color);
}
/* the parent */
//   .slick-list {
//     margin: 0 -27px;
//   }
@import "common";
@import "media";
@import "navbar";
@import "caruasel";
@import "card";
@import "movielist";
